[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pandas = "*"
pillow = "*"
tensorflow = "*"
pyspark = "*"
pyarrow = "*"
ipykernel = "*"
scikit-learn = "*"

[requires]
python_version = "3.10"
